* {
  font-size: 16px;
}

.tablesContainer {
  display: flex;
  flex-direction: row;
}

.tablesContainer > div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;
}

.addContainer {
  display: flex;
  flex-direction: row;
}

.addContainer > div > button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.addContainer > div > input {
  height: 30px;
  width: 30px;
  text-align: center;
}

.addContainer > div {
    align-self: center;
}

.addContainer > div:nth-child(2) {
    margin-left: 10px;
}

.joinedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.joinedContainer > div {
  display: flex;
  flex-direction: column;
}

.tablesContainer > div > input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.titleContainer {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleContainer > div {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: black;
}

.toBeDoneContainer {
  display: "flex";
  flex-direction: row;
}

.checkClass {
  color: green;
  cursor: pointer;
}

.deleteClass {
  color: red;
  cursor: pointer;
}
